<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>식당 정보 편집</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css"
          th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap-theme.min.css}"/>
</head>
<body>
<div class="container">
    <h1>오늘 뭐 먹지</h1>
    <p>
        <a th:href="@{/logout}" class="btn btn-default btn-xs">로그 아웃</a>
    </p>
    <div class="col-sm-12">
        <form th:action="@{/restaurants/edit}" th:object="${restaurantForm}" class="form-horizontal" method="post">
            <fieldset>
                <legend>식당 정보 편집</legend>
                <div class="form-group" th:classappend="${#fields.hasErrors('category')}? 'has-error has-feedback'">
                    <label for="category" class="col-sm-2 control-label">카테고리</label>

                    <div class="col-sm-10">
                        <input type="text" id="category" name="category" th:field="*{category}"
                               class="form-control" value="패스트푸드"/>
                        <span th:if="${#fields.hasErrors('category')}" th:errors="*{category}"
                              class="help-block">error!</span>
                    </div>
                </div>
                <div class="form-group" th:classappend="${#fields.hasErrors('restaurantName')}? 'has-error has-feedback'">
                    <label for="restaurantName" class="col-sm-2 control-label">식당 이름</label>

                    <div class="col-sm-10">
                        <input type="text" id="restaurantName" name="restaurantName" th:field="*{restaurantName}"
                               class="form-control" value="맥도날드"/>
                        <span th:if="${#fields.hasErrors('restaurantName')}" th:errors="*{restaurantName}"
                              class="help-block">error!</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <input type="submit" class="btn btn-default" name="goToTop" value="돌아가기"/>
                        <input type="hidden" name="id" th:value="${param.id[0]}"/>
                        <input type="submit" class="btn btn-primary" value="업데이트"/>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"
        th:src="@{/webjars/jquery/1.11.3/jquery.min.js}"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"
        th:src="@{/webjars/bootstrap/3.3.4/js/bootstrap.min.js}"></script>
</body>
</html>