<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>식당 목록</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css"
          th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap-theme.min.css}"/>
</head>
<body>
<div class="container">
    <h1>오늘 뭐 먹지</h1>
    <p>
        <span sec:authentication="principal.user.username">duke</span>님이 로그인 상태
        <a th:href="@{/logout}" class="btn btn-default btn-xs">로그 아옷</a>
    </p>
    <div class="col-sm-12">
        <form th:action="@{/restaurants/create}" th:object="${restaurantForm}" class="form-horizontal" method="post">
            <fieldset>
                <legend>식당 정보 작성</legend>
                <div class="form-group" th:classappend="${#fields.hasErrors('category')}? 'has-error has-feedback'">
                    <label for="category" class="col-sm-2 control-label">카테고리</label>

                    <div class="col-sm-10">
                        <input type="text" id="category" name="category" th:field="*{category}"
                               class="form-control" value="패스트푸드"/>
                        <span th:if="${#fields.hasErrors('category')}" th:errors="*{category}"
                              class="help-block">error!</span>
                    </div>
                </div>
                <div class="form-group" th:classappend="${#fields.hasErrors('restaurantName')}? 'has-error has-feedback'">
                    <label for="restaurantName" class="col-sm-2 control-label">식당 이름</label>

                    <div class="col-sm-10">
                        <input type="text" id="restaurantName" name="restaurantName" th:field="*{restaurantName}"
                               class="form-control" value="맥도날드"/>
                        <span th:if="${#fields.hasErrors('restaurantName')}" th:errors="*{restaurantName}"
                              class="help-block">error!</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary">작성</button>
                    </div>
                </div>
            </fieldset>
        </form>
        <hr/>
        <table class="table table-striped table-bordered table-condensed">
            <tr>
                <th>ID</th>
                <th>카테고리</th>
                <th>식당 이름</th>
                <th>등록자</th>
                <th colspan="2">편집</th>
            </tr>
            <tr th:each="restaurant : ${restaurants}">
                <td th:text="${restaurant.id}">1</td>
                <td th:text="${restaurant.category}">패스트푸드</td>
                <td th:text="${restaurant.restaurantName}">맥도날드</td>
                <td th:text="${restaurant.user.username}">duke</td>
                <td>
                    <form th:action="@{/restaurants/edit}" method="get">
                        <input class="btn btn-default" type="submit" name="form" value="편집"/>
                        <input type="hidden" name="id" th:value="${restaurant.id}"/>
                    </form>
                </td>
                <td>
                    <form th:action="@{/restaurants/delete}" method="post">
                        <input class="btn btn-danger" type="submit" value="삭제"/>
                        <input type="hidden" name="id" th:value="${restaurant.id}"/>
                    </form>
                </td>
            </tr>
        </table>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"
        th:src="@{/webjars/jquery/1.11.3/jquery.min.js}"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"
        th:src="@{/webjars/bootstrap/3.3.4/js/bootstrap.min.js}"></script>
</body>
</html>